.footer-container {
    background-color: #242424;
    padding: 2rem 0 0 0;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .last{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .social-container {
    background: #242424;
    padding-top: 25px ;
  }

  a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }
  
  a.social:hover {
    transform: translateY(-8px);
  }

  a.github {
    color: #fff;
  }

  a.github :hover {
    color: gray;
  }
  
  a.facebook {
    color: #fff;
  }

  a.facebook :hover{
    color:rgb(10, 163, 235);
  }
  
  a.twitter {
    color: #fff;
  }

  a.twitter :hover{
    color: rgb(10, 163, 235);
  }
  
  a.instagram {
    color: #fff;
  }

  a.instagram :hover{
    color: rgb(243, 21, 232);
  }

  a.linkedin{
    color: #fff;
  }

  a.linkedin :hover{
    color: rgb(10, 163, 235);
  }

  @media screen and (max-width: 400px) {
    a.social {
      margin: 0 0.75rem;
    }
  }