.footer-container {
    background-color: #242424;
    padding: 2rem 0 5rem 0;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-container > p{
      margin-top: 20px;
  }

  .social-container {
    background: #242424;
    padding: 25px 50px;
  }

  a.social {
    margin: 0 1rem;
  
    transition: transform 250ms;
    display: inline-block;
  }
  
  a.social:hover {
    transform: translateY(-8px);
  }

  a.github {
    color: #fff;
  }

  a.github :hover {
    color: gray;
  }
  
  a.facebook {
    color: #fff;
  }

  a.facebook :hover{
    color:rgb(10, 163, 235);
  }
  
  a.twitter {
    color: #fff;
  }

  a.twitter :hover{
    color: rgb(10, 163, 235);
  }
  
  a.instagram {
    color: #fff;
  }

  a.instagram :hover{
    color: rgb(243, 21, 232);
  }

 
  
  @media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    .footer-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
  }